<link rel="preconnect" href="https://fonts.gstatic.com">
<link href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:wght@300;700&display=swap" rel="stylesheet">

* {
  font-family: arial, sans-serif;
  background-color: #F5F5F5;
}

/* body {
  width: 50%;
  margin: 0 auto;
  tex-align: center;
} */

div.menu {
    border: solid 2px #6A6A6A;
    background-color: #E1E1E1;
    width: 40%;
    margin: 40px auto 16px;
    padding: 20px 10px 20px;

}

div.menu a {
  font: normal 0.92em 'Source Sans Pro light 300', Arial, sans-serif;
  color: #3A3A3A;
  margin: 7px;
}

h1.webTitle {
  font: bold 3.5em 'Source Sans Pro bold 700', Arial, sans-serif;
  margin: 0 auto;
  text-align: center;
}

p.introText {
  font: normal 1em 'Source Sans Pro light 300', Arial, sans-serif;
  color: #888888;
  margin: 20px auto;
  text-align: center;
}

hr {
  width: 80%;
}

div.textBox {
  display: block;
  margin: 20px auto;
  width: 404px;
  height: 321px;
  padding: 10px 14px;
  border: 2px solid #777;
  border-radius: 10px 10px 10px 10px;
}

div.textBox h3 {
  font: bold 2em 'Source Sans Pro bold 700', Arial, sans-serif;
  color: #3A3A3A;
  margin: 0 auto;
}
